body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: -webkit-radial-gradient(rgb(164, 206, 253), rgb(7, 119, 231));
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(171, 156, 156);
  border: 10px solid lightgrey;
  width: 90%;
  max-width: 550px;
  height: auto;
  padding: 10px;
  margin: 20px 0;
}

.reset {
  padding: 15px 20px;
  color: #267c65;
  background: #fff;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
}
.reset:focus {
  color: #fff;
  background: #267c65;
}

.card {
  height: 128px;
  width: 100px;
  margin: 2.5px;
  background-color: #fff;
  border: 1px solid #000;
}

button {
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(248, 236, 12);
  border: 3px solid black;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background: orange;
}

h2 {
  font-size: 24px;
  color: red;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  h2 {
      font-size: 20px;
  }

  button {
      width: auto;
      font-size: 16px;
      padding: 8px 16px;
  }

  .reset {
      font-size: 1em;
  }

  .card {
      height: 100px;
      width: 80px;
      margin: 2px;
  }
}
